<div class="card word-form">
  <div class="outer">
    <mat-form-field class="field">
      <mat-label>Enter word form</mat-label>
      <input matInput [readonly]="this.added" class="formfield" [(ngModel)]="wordForm">
    </mat-form-field>
    <button *ngIf="added" mat-raised-button color="accent" class="remove-form remove" (click)="remove()">
      Remove
    </button>
    <button *ngIf="!added" mat-raised-button color="primary" id="add-form-button" class="add-form-btn add" (click)="add()">
      Add
    </button>
  </div>
  <mat-error style="margin-bottom: 20px;" *ngIf="err">Please enter some text before adding.</mat-error>
</div>
