<mat-card>
  <div>
    <h2>Add a new word</h2>
    <div class="fields">
      <mat-form-field class="new-word">
        <mat-label>New word</mat-label>
        <input matInput (input)="check()" data-test="newWord" [(ngModel)]="wordName" name="name"
          placeholder="enter a new word">
      </mat-form-field>

      <div class="word-type">
        <!--drop down list for word-types-->
        <h4>Word Type</h4>
        <mat-form-field appearance="fill">
          <mat-label>Select a type</mat-label>
          <mat-select (selectionChange)="check()" id="select" [(ngModel)]="type">
            <mat-option>None</mat-option>
            <mat-option value="nouns">Noun</mat-option>
            <mat-option value="verbs">Verb</mat-option>
            <mat-option value="adjectives">Adjective</mat-option>
            <mat-option value="misc">Misc</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <button *ngIf="!added" (click)="add('')" mat-raised-button class="add-form-btn" style="margin-bottom: 40px;" color="accent">Add a word
      form</button>
      <app-word-form class="form_item"  *ngFor="let i of forms" (form)="add($event)"></app-word-form>

    <div class="word-forms">
      <button data-test="confirmAddWordButton" [disabled]="!finished" (click)="save()" mat-raised-button class="add-word-btn" color="primary">Add
        Word</button>
    </div>

  </div>
</mat-card>
