<mat-card>
  <div>
    <h2>Add a new word</h2>
    <div class="fields">
        <mat-form-field class="new-word">
            <mat-label>New word</mat-label>
            <input matInput (input)="check()" data-test="newWord" [(ngModel)]="wordName" name="name" placeholder="enter a new word">
        </mat-form-field>

        <div class="word-type">
            <!--drop down list for word-types-->
                <h4>Word Type</h4>
                <mat-form-field appearance="fill">
                  <mat-label>Select a type</mat-label>
                  <mat-select (selectionChange)="check()" [(ngModel)]="type">
                    <mat-option>None</mat-option>
                    <mat-option value="noun">Noun</mat-option>
                    <mat-option value="verb">Verb</mat-option>
                    <mat-option value="adjective">Adjective</mat-option>
                    <mat-option value="misc">Misc</mat-option>
                  </mat-select>
                </mat-form-field>

        </div>
    </div>
    <div class="word-forms">
        <app-word-form *ngFor="let i of forms" (form)="add($event)"></app-word-form>
    </div>
    <button [disabled]="!finished" (click)="save()" mat-raised-button class="add-word-btn" color="primary">Add Word</button>
</div>
</mat-card>

