<mat-card class="wordList-card">
  <div>
    <div class="card-header">
      <h1 class="wordList-name">wordlist.name</h1>
      <mat-icon matListIcon>{{wordlist.enabled ? 'done' : ''}}</mat-icon>
    </div>
  </div>
  <mat-card-content>
    <div class= "list-detail">
        <div class="nounsList">
            <!--display:flex-->
            <p class="title-section" element="nouns">Nouns:</p>
            <mat-chip color="primary" *ngFor="let noun of wordlist.nouns">noun.word</mat-chip>
          </div>
          <div class="verbsList">
            <!--display:flex-->
            <p class="title-section" element="verbs">Verbs:</p>
            <mat-chip color="primary" *ngFor="let verb of wordlist.verbs">verb.word</mat-chip>
          </div>
          <div class="adjectivesList">
            <!--display:flex-->
            <p class="title-section" element="adjectives">Adjectives:</p>
            <mat-chip color="primary" *ngFor="let ad of wordlist.adjectives">ad.word</mat-chip>

          </div>
          <div class="miscList">
            <!--display:flex-->
            <p class="title-section" element="misc">Misc:</p>
            <mat-chip color="primary" *ngFor="let m of wordlist.misc">m.word</mat-chip>

          </div>
    </div>
  </mat-card-content>
  <div>
    <button mat-button [routerLink]="['/wordlist', this.wordlist.name]" class="btn">View WordList</button>
  </div>
</mat-card>
