* {
  text-decoration: none;
}
.wordList-card {
  padding: 30px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  border-radius: 15px;
}
.wordList-card:hover {
  background-color: #3d3d3d;
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.wordList-name {
  font-weight: bold;
  font-size: large;
  flex: 1;
  font-weight: 700;
  font-size: large;
  flex: 1;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100px!important;
  margin-right: 100px;
}

.list-detail {
  margin-left: 15px;
}

.title-section {
  font-weight: bold;
}

.nounList {
  display: flex;
}

.verbList {
  display: flex;
}

.adjectiveList {
  display: flex;
}

.miscList {
  display: flex;
}

.wordList-enable > * {
  float: right;
}

.list-detail > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0px 20px 0px;
}

.list-detail > div > * {
  transition-duration: 200ms;
}

.desc {
  margin: 0px 10px 0px 0px;
}

.bubble {
  padding: 5px 10px 5px 10px;
  color: white;
  border-radius: 12px;
  min-width: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.116);
  margin: 10px;
}

mat-icon {
  margin-left: 10px;
}

.noun {
  border: 2px solid #e0486e;
}

.verb {
  border: 2px solid #43e0ba;
}

.adjective {
  border: 2px solid #429ce3;
}

.misc {
  border: 2px solid #edbb32;
}
