

<div class="wordFilter">
  <form style="display: flex" [formGroup]="gridListFormControl">
    <mat-form-field class="formfieldspacing">
      <input matInput data-test="wordSearch" formControlName="word">
      <mat-placeholder>Search for a complete word</mat-placeholder>
    </mat-form-field>
    <mat-form-field class="formfieldspacing">
      <input matInput data-test="startsWith" formControlName="startsWith">
      <mat-placeholder>Search for a word that starts with</mat-placeholder>
    </mat-form-field>
    <mat-form-field class="formfieldspacing">
      <input matInput data-test="endsWith" formControlName="endsWith">
      <mat-placeholder>Search for a word that ends with</mat-placeholder>
    </mat-form-field>
    <mat-form-field class="formfieldspacing">
      <input matInput data-test="minWordCount" formControlName="minWordCount" type="number" min="1">
      <mat-placeholder>Minimum Word Count</mat-placeholder>
    </mat-form-field>
    <mat-form-field class="formfieldspacing">
      <input matInput data-test="maxWordCount" formControlName="maxWordCount" type="number">
      <mat-placeholder>Maximum Word Count</mat-placeholder>
    </mat-form-field>
  </form>
  <button class="filterbuttons" mat-raised-button color="primary" (click)="applyFiltersAndSort()">See Results</button>
  <button class="filterbuttons" mat-raised-button color="warn" (click)="clearFiltersAndSort()">Clear</button>
  <mat-divider></mat-divider>
</div>



<mat-form-field class="sort-container">
  <span>Sort by:</span>
  <mat-select class="select"[(ngModel)]="currentSortOption" (ngModelChange)="sortWordTiles($event)" data-test="sortSelect" name="sort" ngDefaultControl>
    <mat-option value="" disabled></mat-option>
    <mat-option value="alphabetic">Alphabetic</mat-option>
    <mat-option value="highest">Highest Word Count</mat-option>
    <mat-option value="lowest">Lowest Word Count</mat-option>
  </mat-select>


</mat-form-field>
<mat-divider></mat-divider>

<div class="total-word-count">
  Resulting Unique Words: {{ filteredGridListData.length }}
</div>

<!-- Render word tiles based on sorted wordCountArray -->
<div class="grid-list-container" [ngClass]="{'expanded': isGridListExpanded}">
  <mat-grid-list [cols]="8" rowHeight="50px">
    <mat-grid-tile *ngFor="let word of filteredGridListData" [colspan]="1" [rowspan]="1" data-test="wordTile" class="word-tile">
      <div class="bubble tileborder">
        <div class="word-tile-content">
          {{ word.word }}
          <span class="word-count-badge">{{ word.count }}</span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<button mat-button (click)="toggleGridListExpansion()">
  {{ isGridListExpanded ? 'Collapse' : 'Expand' }}
</button>




<!-- <div class="sentenceSearchDate">
  <mat-form-field>
    <input matInput (keyup)="filterSentenceByDate($event.target.value)" placeholder="Search for by date: 'Day/Month/Year">
  </mat-form-field>
  </div> -->

  <form style="display: flex" [formGroup]="formControl">
    <mat-form-field>
      <input matInput data-test="sentenceTextField" formControlName="sentenceText">
      <mat-placeholder>Text</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput data-test="time" formControlName="timeSubmitted">
      <mat-placeholder>Date</mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <input matInput data-test="uniqueWords" [formControl]="uniqueWordsFormControl">
      <mat-placeholder>Unique Words (minimum count)</mat-placeholder>
    </mat-form-field>


  </form>

<div id="sentenceTable" class="mat-elevation-z8">
  <table mat-table [dataSource]="sentenceDataSource" matSort (matSortChange)="sortData($event)">
    <!-- Time Submitted Column -->
    <ng-container matColumnDef="timeSubmitted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="time"> Time Submitted </th>
      <td mat-cell *matCellDef="let sentences"> {{ sentences.timeSubmitted }} </td>
    </ng-container>

    <!-- Sentence Text Column -->
    <ng-container matColumnDef="sentenceText">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="sentenceText"> Sentence </th>
      <td mat-cell *matCellDef="let sentences" data-test="sentenceText"> {{sentences.sentenceText}} </td>
    </ng-container>



<!-- Repeated Words Column -->
<ng-container matColumnDef="repeatedWords">
  <th mat-header-cell *matHeaderCellDef> Repeated Words </th>
  <td mat-cell *matCellDef="let sentence">
    <ng-container *ngIf="sentence.repeatedWords && sentence.repeatedWords.length > 0">
      <ng-container *ngFor="let repeatedWord of sentence.repeatedWords">
        {{ repeatedWord.word }}, {{ repeatedWord.count }};
        <br />
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!sentence.repeatedWords || sentence.repeatedWords.length === 0">

    </ng-container>
  </td>
</ng-container>

<!-- Unique Words Column -->
<ng-container matColumnDef="uniqueWords">
  <th mat-header-cell *matHeaderCellDef> Unique Words </th>
  <td mat-cell *matCellDef="let sentence">
    <span *ngIf="sentence.uniqueWordCount !== undefined && sentence.uniqueWordCount > 0">
     {{ sentence.uniqueWordCount }}
    </span>
    <ng-container *ngIf="!sentence.uniqueWordCount || sentence.uniqueWordCount === 0">
      No unique words found.
    </ng-container>
  </td>
</ng-container>




    <!-- Sentence Length Column-->
    <ng-container matColumnDef="sentenceLength">
      <th mat-header-cell *matHeaderCellDef> Sentence Length (words)</th>
      <td mat-cell *matCellDef="let sentence">
        {{ calculateWordCount(sentence.sentenceText) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="sentenceTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: sentenceTableColumns;"></tr>
  </table>


  <mat-paginator #sentencePaginator data-test="sentencePaginator" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of sentences">
  </mat-paginator>
</div>

<div class="total-sentences">
  Total Sentences: {{ totalSentences }}
</div>

<div fxLayout="row">
  <div class="story-list" fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->


      <!-- Card grid view -->
      <div  fxLayout="row wrap" fxLayoutGap="10px" class="story-card-container">
        <app-story-card simple="true" *ngFor="let story of learnerStories" class="story-card" [story]="story" fxFlex="1 1 280px"></app-story-card>
      </div>
  </div>
  </div>

  <h1 style="text-align:center">Word Cloud</h1>
<div id="container"></div>



