.outer {
  padding: 10%;
  align-content: center;
}

.outer > .name {
  text-align: center;
  margin-top: -5%;
  padding-bottom: 5%;
  font-weight: bolder;
  font-family: 'ProductSansBold';
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

table, th, td {
  border: 4px solid black;
  font-size: x-large;
  font-family: 'ProductSans';
}

.seen-header, .word-header {
  width: fit-content;
}

td > .seen,td > .word {
  text-align: center;
  width: 40%;
}

