table {
  width: 100%;
}

#wordTable{
margin-bottom: 5%;
}

.story-card-container{
  margin-top: 10%;
  margin-right: 10%
}

#container{
  height: 1000px;
}

.bubble {
  padding: 5px 10px 5px 10px;
  color: white;
  border-radius: 12px;
  min-width: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.116);
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center; /* Center content vertically within the bubble */
}

.noun {
  border: 2px solid #429ce3;
}

.verb {
  border: 2px solid #43e0ba;
}

.adjective {
  border: 2px solid #e0486e;
}

.misc {
  border: 2px solid #edbb32;
}

/* Add styles for MatGridList */
.mat-grid-list {
  background-color: #f5f5f5; /* Set background color */
  padding: 16px; /* Add some padding around the grid */
}

/* Style individual grid tiles */
.mat-grid-tile {
  background-color: #fff; /* Set background color of each tile */
  border: 1px solid #ccc; /* Add a border around each tile */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: background-color 0.3s ease; /* Add a smooth transition for background color */
}

/* Hover effect for tiles */
.mat-grid-tile:hover {
  background-color: #e0e0e0; /* Change background color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Add spacing between tiles */
.mat-grid-list-spacing {
  margin: 16px; /* Adjust margin to control spacing */
}
.formfieldspacing {
  margin: 4px;
}

/* Center content within the tiles */
.word-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Style header and content within the tile */
.word-tile-header {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  color: black;
}

.word-tile-content {
  font-size: 14px;
  color: black;
}
.word-count-badge {
  background-color: #007bff; /* Customize badge background color */
  color: white; /* Customize badge text color */
  padding: 4px 8px; /* Adjust padding for badge */
  border-radius: 12px; /* Add border radius for badge */
}



