table {
  width: 100%;
}

#wordTable{
margin-bottom: 5%;
}

.story-card-container{
  margin-top: 10%;
  margin-right: 10%
}

#container{
  height: 1000px;
}

.form-field-spacing {
  margin-right: 16px; /* Adjust as needed */
}

