<div class="outer">
<h1 class="name">{{ learnerName }}'s Learner Data</h1>
<table>

  <tr>
    <td>
      <tr class="word-header">Word</tr>
    </td>
    <td *ngFor="let word of learnerWords | keyvalue">
      <tr class="word">{{word.key}}</tr>
    </td>
  </tr>
  <tr>
    <td>
      <tr class="seen-header">Times Seen</tr>
    </td>
    <td *ngFor="let word of learnerWords | keyvalue">

      <tr class="seen">{{word.value}}</tr>
    </td>

  </tr>


</table>

<table class="sentencesTable">
  <tr>
    <th>Date</th>
    <th>Sentence</th>
  </tr>
  <tr *ngFor="let sentence of sentences">
    <td class="Time">{{sentence.timeSubmitted}}</td>
    <td class="seen">{{sentence.sentenceText}}</td>
  </tr>
</table>
</div>

