<div>



  <div class="content">
    <div class="left">
      <mat-card style="margin-bottom: 20px;">
        <div class="top">
          <div class="title-container">
            <mat-form-field class="new-word">
              <mat-label>Enter Word List Name</mat-label>
            <input matInput placeholder="Name" formControlName="name"
                  required>
            <mat-error *ngFor="let validation of addWordListValidationMessages.name">
              <mat-error class="error-message" data-test="nameError"
                        *ngIf="addWordListForm.get('name').hasError(validation.type) && (addWordListForm.get('name').dirty || addWordListForm.get('name').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
            </mat-form-field>
            <mat-checkbox class="enabled" [checked]="true" (change)="enable($event.checked)">Enabled</mat-checkbox>
          </div>
        </div>
      </mat-card>
      <app-add-word></app-add-word>
      <br>
      <button mat-raised-button class="export" style="padding:20px;" color="primary"[disabled]="!addWordListForm.valid"
      type="submit"
      data-test="confirmAddWorListButton">Save word list</button>
    </div>
    <div class="right">
      <h3 *ngIf="words.length === 0">Nothing added here yet.</h3>
      <app-word-card *ngFor="let word of words"></app-word-card>
    </div>
  </div>
</div>
