<div>
  <div class="content">
    <div class="left">
      <mat-card style="margin-bottom: 20px;">
        <div class="top">
          <div class="title-container">
            <mat-form-field class="new-word">
              <mat-label>Enter Word List Name</mat-label>
              <input matInput chan (input)="check()" [(ngModel)]="wordlistname" data-test="currentName" placeholder="name">
            </mat-form-field>
            <mat-checkbox class="enabled" [checked]="true" (change)="enable($event.checked)">Enabled</mat-checkbox>
          </div>
        </div>
      </mat-card>
      <app-add-word (addWord)="addWord($event)"></app-add-word>
      <br>
      <button mat-raised-button data-test="confirmAddWordlistButton" [disabled]="!finished" class="save" style="padding:20px;" color="primary"
      (click)="save()"
      data-test="confirmAddWordListButton">Save word list</button>
    </div>

    <div class="right">
      <div class="placeholder" *ngIf="words ? words.length === 0 : true">
        <mat-icon>font_download</mat-icon>
        <h2 style="opacity: 0.9;">No words added yet.</h2>
        <h4 style="opacity: 0.7;">You can add a word by using the form on the left.</h4>
      </div>
      <app-word-card data-test="deleteWordButton" class="wordcard" (delete)="deleteWord(i)"
      [type]="word.type"  [wordList]="wordList" *ngFor="let word of words; index as i" [word]="word"[viewing]="false"></app-word-card>
    </div>
  </div>
</div>
