.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 256px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-title {
  padding-left: 16px;
}
.cp-icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 5px;
  margin-right: 10px;
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}
.desc h2 {
  margin: 0px;
  font-size: large;
  height: 20px;
}
.desc span {
  margin: 0px;
  opacity: 0.5;
  font-weight: 200;
  font-size: medium;
}
.cp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 10px;
}

.main-content {
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
}
