<div>
  <div class="container">
    <form [formGroup]="addContextPackForm" (ngSubmit)="submitForm();">
      <mat-card class="add-cp-card">

        <h1 class="add-cp-title">New Context Pack</h1>

        <mat-card-content fxLayout="column">
          <mat-form-field class="field">
            <mat-label>Name</mat-label>
            <input matInput placeHolder="Name" formControlName="name" required>
            <mat-error *ngFor="let validation of addCpValidationMessages.name">
              <mat-error class="error-message" data-test="nameError"
                *ngIf="addContextPackForm.get('name').hasError(validation.type) && (addContextPackForm.get('name').dirty || addContextPackForm.get('name').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field">
            <mat-label>Enabled</mat-label>
            <mat-select required formControlName="enabled">
              <mat-option id="true" value="true">Yes</mat-option>
              <mat-option id="false" value="false">No</mat-option>
            </mat-select>
            <mat-error *ngIf="addContextPackForm.get('enabled').hasError('required')">You must make a selection
            </mat-error>
            <mat-error
              *ngIf="addContextPackForm.get('enabled').hasError('pattern') && !addContextPackForm.get('enabled').hasError('required')">
              Your selection is invalid
            </mat-error>
          </mat-form-field>

          <h3 style="opacity: 0.5; padding-top: 20px;">Optional</h3>
          <div class="icon-container">
            <input type="file" id="file" (change)="onFileAdded($event)" accept=".png,.jpg,.jpeg,.gif" />
            <label for="file" class="btn-2">{{!uploaded ? 'Upload Contextpack Image' : 'Upload again'}}</label>

            <div class="preview-container" *ngIf="uploaded">
              <h3 style="opacity: 0.7;margin-left: 20px;">Preview: </h3>
              <img class="preview" src="{{downloadURL}}" />
            </div>

            <h3 *ngIf="!uploaded" style="margin: 0px 30px 0px 30px;opacity: 0.8;">OR</h3>

            <mat-form-field class="field" *ngIf="!uploaded">
              <mat-label>Icon Link</mat-label>
              <input matInput placeholder="Icon Link" formControlName="icon">
              <mat-error *ngFor="let validation of addCpValidationMessages.icon">
                <mat-error class="error-message" data-test="iconError"
                  *ngIf="addContextPackForm.get('icon').hasError(validation.type) && (addContextPackForm.get('icon').dirty || addContextPackForm.get('icon').touched)">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>

          </div>




        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button type="button" color="accent" routerLink=""
            data-test="cancelCpButton">
            Cancel
          </button>
          <button mat-button type="button" color="primary" [disabled]="!addContextPackForm.valid" type="submit"
          data-test="addCpButton">
          ADD CONTEXT PACK
        </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
