<div>

  <div class="top">
    <div class="title-container">
      <h1 class="title">{{name}}</h1>
      <mat-checkbox class="enabled" [checked]="true" (change)="enable($event.checked)">Enabled</mat-checkbox>
    </div>
    <button mat-raised-button class="export" color="primary">Export</button>
  </div>

  <div class="content">
    <div class="left">
      <app-add-word></app-add-word>
    </div>
    <div class="right">
      <app-word-card (delete)="deleteWord(i)" [word]="w" [type]="types[i]" [wordList]="wordlist" *ngFor="let w of words;index as i;"></app-word-card>
    </div>
  </div>
</div>
