.content {
  display: flex;
  margin-top: 30px;
}

.left {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.wordlist-details{
  padding: 30px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
.top{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}
.title-container{
  flex: 1;
}
.enabled{
  margin-left: 20px;
}
.title-container{
  display: flex;
  align-items: center;
}
.title{
  margin: 0px;
  font-size: large;
}
.delete{
  height: 40px;
  margin-left: 20px;
}
