<div>

  <div class="top">
    <div class="title-container">
      <!-- <h1 class="title">{{name}}</h1> -->

      <mat-form-field class="title">
        <mat-label>Edit Word List Name</mat-label>
        <input matInput name="name" [(ngModel)]="name">
      </mat-form-field>
      <mat-checkbox class="enabled" [(ngModel)]="enabled" [checked]="true">Enabled</mat-checkbox>
    </div>
    <button mat-raised-button (click)="export()" class="export" color="primary">Export</button>
    <button data-test= "deleteWordListButton" mat-raised-button class="delete" (click)="deleteWordList()" color="accent">Delete</button>
  </div>

  <div class="content">
    <div class="left">
      <app-add-word (addWord)="addWord($event)" data-test="addWordButton"></app-add-word>
      <button mat-raised-button [disabled]="!true" class="save" style="padding:20px;margin-top: 20px;" color="primary"
      (click)="save()"
      data-test="saveWordListButton">Save word list</button>
    </div>
    <div class="right">
      <app-word-card (delete)="deleteWord(i)" [word]="w" [type]="types[i]" [wordList]="wordlist"
        *ngFor="let w of words;index as i;" data-test="deleteWordButton"></app-word-card>
    </div>
  </div>
</div>
