<div>
  <div class="content">
    <div class="left">

      <div class="top">
        <button mat-stroked-button color="primary">Add wordlist</button>
        <button mat-stroked-button color="accent">Import wordlist</button>
      </div>
      <mat-card class="search-card" style="margin-bottom: 20px;">
        <mat-form-field class="search">
          <mat-label>Name of the wordlist</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-raised-button class="search-btn" color="primary">Search</button>

      </mat-card>

      <div class="bottom">
        <mat-card class="bottom-card">

          <h2 class="bottom-title">Details</h2>
          <mat-divider></mat-divider>
          <br>
          <p><strong>Number of wordlists: </strong>24</p>
          <p><strong>Number of words: </strong>622</p>

          <!-- Could include information about the wordlists-->
          <!-- ex. #of wordlists, # of words, etc.-->
        </mat-card>
      </div>
    </div>
    <div class="right">
      <!--List of wordlists goes here!-->
      <app-wordlist-card *ngFor="let i of [1,2,3,4,5]">

      </app-wordlist-card>
    </div>
  </div>
</div>
