<div class="container">
  <mat-card class="edit-word-card">
    <mat-form-field class="current-word" style="font-size: large;">
      <mat-label>Edit word</mat-label>
      <input matInput chan (input)="check()" [(ngModel)]="wordname" data-test="currentWord" placeholder="current word">
    </mat-form-field>
    <div class="word-type">
      <!--drop down list for word-types-->
      <h4>Word Type</h4>
      <mat-form-field appearance="fill">
        <mat-label>Select a type</mat-label>
        <mat-select (selectionChange)="check()" [(ngModel)]="editedType">
          <mat-option>None</mat-option>
          <mat-option value="Noun">Noun</mat-option>
          <mat-option value="Verb">Verb</mat-option>
          <mat-option value="Adjective">Adjective</mat-option>
          <mat-option value="Misc">Misc</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="word-forms">
      <app-word-form *ngFor="let i of forms" (form)="add($event)"></app-word-form>
    </div>
    <div class="btn-container">
      <button mat-raised-button [disabled]="!finished" (click)="save()" class="save-btn" color="primary">Save</button>
      <button mat-raised-button  [routerLink]="['/wordlist', this.wordlistname]" class="cancel-btn" color="warn">Cancel</button>
    </div>

  </mat-card>
</div>
