<div class="container">
  <mat-card class="edit-word-card">
    <mat-form-field class="current-word">
      <mat-label>Current Word</mat-label>
      <input matInput data-test="currentWord" placeholder="current word">
    </mat-form-field>
    <div class="word-type">
      <!--drop down list for word-types-->
      <h4>Word Type</h4>
      <mat-form-field appearance="fill">
        <mat-label>Select a type</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option value="noun">Noun</mat-option>
          <mat-option value="verb">Verb</mat-option>
          <mat-option value="adjective">Adjective</mat-option>
          <mat-option value="misc">Misc</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="word-forms">
      <app-word-form *ngFor="let i of forms" (form)="add($event)"></app-word-form>
    </div>
    <div class="btn-container">
      <button mat-raised-button class="save-btn" color="primary">Save</button>
      <button mat-raised-button class="cancel-btn" color="warn">Cancel</button>
    </div>

  </mat-card>
</div>
