.context-pack-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .cp-card {
    margin-bottom: 10px;
  }


.add-cp {
    position: fixed;
    bottom: 15px;
    right: 30px;
  }
