<div>
  <div class="top">
    <h1 style="margin-bottom: 0px;">Context Packs</h1>
    <a class="add-cp-button" data-test="addCpButton" routerLink="/packs/new">
      <mat-icon>add</mat-icon>
      <span>Add</span>
    </a>
  </div>
  <div class="context-pack-display">
    <app-cp-card simple="true" (delete)="removeCP(pack._id)" *ngFor="let pack of contextPacks" class="cp-card"
      [contextPack]="pack"></app-cp-card>
    <div class="placeholder" *ngIf="contextPacks ? contextPacks.length === 0 : false;">
      <mat-icon>assignment</mat-icon>
      <h2 style="opacity: 0.9;">No Context Packs to display.</h2>
      <h4 style="opacity: 0.7;">You can add a context pack by using the 'Add' button.</h4>
    </div>
  </div>
</div>
