.context-pack-display {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .cp-card {
    margin-bottom: 10px;
  }


.add-cp {
    position: fixed;
    bottom: 15px;
    right: 30px;
  }
.add-cp-button{
  background-color: #FF80AB;
  border-radius: 5px;
  color:#000;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  padding: 0px 20px 0px 10px;
  cursor: pointer;
  text-decoration: none;
}
.add-cp-button:hover{
  background-color: #eb5f8d;
}
.add-cp-button > span{
  margin-left: 5px;
  font-weight: 600;
}
.top{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.placeholder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.placeholder > mat-icon{
  font-size: 50px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.placeholder > h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}
