@font-face {
  font-family: "ProductSans";
  src: url('/assets/ProductSansRegular.ttf') format("truetype");
}

@font-face {
  font-family: "ProductSansBold";
  src: url('/assets/ProductSansBold.ttf') format("truetype");
}

.cp-card:hover {
  background-color: rgb(60, 60, 60);
  cursor: pointer;
}
.cp-card:hover .del {
  font-size: medium;
  color:rgb(255, 255, 255);
  opacity: 1;
}

.container {
  width: 100%;
}

#name {
  font-size: large;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}

.top {
  display: flex;
  width: 100%;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}

.status {
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.status > mat-icon {
  padding-left: 5px;
}

.cp-card {
  width: 350px;
  height: 152px;
  margin: 0px 20px 20px 0px;
  padding: 20px;
  border-radius: 15px;
  transition: background-color 80ms ease;
}

.enabled {
  color: rgb(34, 184, 34);
}

.disabled {
  color: rgb(218, 38, 26);
}

.placeholder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.placeholder > mat-icon {
  font-size: 50px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.placeholder > h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.details-container {
  display: flex;
  flex: 1;
}

.cp-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.cp-profile {
  flex: 1;
  padding-left: 20px;
  width: 200px;
}

.cp-profile > h2 {
  margin: 0px 0px 0px 0px;
}

.cp-profile > h5 {
  margin: 0px 0px 0px 0px;
  opacity: 0.7;
}

.cp-profile h2 {
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
}
.stats-holder {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 20px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 15px;
}
.separator {
  background-color: #00000015;
  height: 80%;
  width: 2px;
}
.stat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stat-container > h2 {
  margin-bottom: 0px;
}
.stat-container > p {
  opacity: 0.5;
  margin-bottom: 0px;
}
.placeholder {
  justify-content: center;
  display: flex;
}
.confirmation {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.confirmation h3{
  padding: 0px 10px 10px 0px;
  margin-bottom: 0px;
}
.confirmation button {
  width: 300px;
}
.header{
  font-family: 'ProductSans';
}
.del{
  font-size: medium;
  color:rgba(255, 255, 255, 0.438);
  border-radius: 8px;
  opacity: 0;
  transition-duration: 200ms;
}
.del:hover{
  font-size: medium;
  color:rgb(255, 255, 255)
}
