<mat-card class="cp-card" *ngIf="this.contextPack" (click)="openContextPack()">
  <div class="container">
    <div class="top">
      <div class="details-container">
        <img src="{{contextPack ? contextPack.icon : ''}}"
          onerror="this.src='https://st2.depositphotos.com/3616015/5374/v/600/depositphotos_53741327-stock-illustration-abc-blocks-flat-icon-with.jpg'"
          class="cp-icon">
        <div class="cp-profile">
          <h2>{{contextPack ? contextPack.name : ''}}</h2>
          <h5>{{contextPack ? (contextPack.enabled ? 'Enabled' : 'Disabled') : ''}}</h5>
        </div>
      </div>
      <button mat-button data-test="deleteContextPackButton" (click)="deletePack($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>





  </div>

</mat-card>
