<mat-card class="cp-card" *ngIf="this.contextPack" (click)="openContextPack()">
  <div>
    <div class="top">
      <img class="icon" src={{this.contextPack.icon}} onerror="this.src='https://st2.depositphotos.com/3616015/5374/v/600/depositphotos_53741327-stock-illustration-abc-blocks-flat-icon-with.jpg'">
      <h5 id="name">{{this.contextPack.name}}</h5>
      <div class="status enabled" *ngIf="contextPack.enabled">
        Enabled
        <mat-icon>done</mat-icon>
      </div>
      <div class="status disabled" *ngIf="!contextPack.enabled">
        Disabled
        <mat-icon>close</mat-icon>
      </div>
    </div>




    <button mat-button data-test="deleteContextPackButton" (click)="deletePack()"><mat-icon>delete</mat-icon></button>

  </div>

</mat-card>
