@font-face {
  font-family: "ProductSans";
  src: url('/assets/ProductSansRegular.ttf') format("truetype");
}

@font-face {
  font-family: "ProductSansBold";
  src: url('/assets/ProductSansBold.ttf') format("truetype");
}

.auth-holder {
  font-family: Roboto, sans-serif;
}

.outer-card {
  width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 0px 36px 11px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 36px 11px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.outer {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.bg {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.halftone {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
}

.logo {
  width: 60%;
  object-fit: contain;
  margin-top: 50px !important;
  margin-bottom: 50px;
}

.tabs {
  width: 100%;
}

.auth-holder {
  display: flex;
  align-items: center;
  height: 200px;
  flex-direction: column;
  padding-top: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.auth-holder::-webkit-scrollbar {
  display: none;
}

.mat-blue {
  background-color: #02abad !important;
}

.field {
  border-radius: 10px;
  height: 40px;
  width: 250px;
  background-color: transparent;
  border: 4px solid rgb(161, 161, 161);
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
  outline: none;
  color: #fff;
  transition-duration: 200ms;

  font-size: medium;
  font-family: Roboto, sans-serif;
}
.field::placeholder {
  color: rgb(161, 161, 161);
  font-family: 'ProductSans';
  font-size: medium;
}

@-moz-document url-prefix() {
  #pass{
    color:#45b7b9;
    font-size: large;
  }
}
#pass{
  color:#45b7b9;
  font-size: x-large;
}
#pass::-webkit-input-placeholder {
  line-height: 16px;
  margin-top: -10px;
  position: absolute;
  top: 53%;
}
// #pass::-moz-placeholder {
//   line-height: 16px;
//   margin-top: -10px;
//   position: absolute;
//   top: 58%;
// }

.invalid {
  border-radius: 10px;
  height: 40px;
  width: 250px;
  background-color: transparent;
  border: 4px solid rgba(255, 64, 64, 0.603);
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
  outline: none;
  color: #fff;
  font-size: medium;
  font-family: Roboto, sans-serif;
}

.auth-btn {
  width: 270px;
  border-radius: 50px;
  background-color: #02abad;
  color: white;
  border: none;
  height: 50px;
  font-size: larger;
  margin-top: 10px;
  font-family: 'ProductSans';
  padding: 10px;
  cursor: pointer;
  outline: none;
  transition-duration: 200ms;
}

.auth-btn:hover {
  width: 270px;
  border-radius: 50px;
  background-color: #48bdbe;
  color: white;
}

.error {
  display: flex;
}

.messages>*>p {
  // margin-left: 10px;
  margin-bottom: 0px;
}

.messages>* {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0px 0px 15px 0px;
}

.messages {
  width: 100%;
  max-height: 38px;
  overflow: hidden;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;

}

#signuptab {
  height: 400px;
}

#logintab {
  height: 300px;
}

.cp-icon {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}

.cp-icon:hover,
.field:hover {
  filter: brightness(1.4);
}

.cp-icon:hover {
  filter: brightness(1.2);
}

.stack {
  display: grid;
}

.stack>* {
  grid-row: 1;
  grid-column: 1;
}

#file {
  grid-row: 1;
  grid-column: 1;
  margin-top: 50px;
  width: 80px !important;
  height: 80px !important;
}

.image-upload>input {
  display: none;
}

.tm {
  color: rgba(255, 255, 255, 0.281);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}
.bg {

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}
.outer-card {

  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.2s; /* Firefox < 16 */
      -ms-animation: fadein 0.2s; /* Internet Explorer */
       -o-animation: fadein 0.2s; /* Opera < 12.1 */
          animation: fadein 0.2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
