.word-cardd {
  padding: 25px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  width: 290px;
  height: 200px;
  // min-width: 300px;
  margin-right: 20px;
  border-top: 4px solid #2196f3;
}

.word-name {
  font-weight: bold;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
#editbutton,
#delbutton {
  height: 35px;
  aspect-ratio: 1;
  border: none;
}
#editbutton:focus,
#delbutton:focus {
  opacity: 1;
  pointer-events: all;
}

.word-type {
  margin-left: 15px;
}

.forms {
  margin-left: 15px;
  padding-left: 8px;
}

.bubble {
  padding: 5px 10px 5px 10px;
  background-color: rgba(0, 0, 0, 0.116);
  border: 2px solid #2196f3;
  border-radius: 10px;
  margin: 7px;
}

.holder {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0px 20px 0px;
}

.forms {
  margin-top: 15px;
  margin-left: 0px;
}

.top {
  display: flex;
}
.visible {
  opacity: 1;
  pointer-events: all;
}
.invisible {
  opacity: 0;
  pointer-events: none;
}
.noun{
  padding: 25px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  width: 290px;
  height: 200px;
  margin-right: 20px;
  border-top: 4px solid #2196f3;
}
.verb{
  padding: 25px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  width: 290px;
  height: 200px;
  margin-right: 20px;
  border-top: 4px solid #21f3bf;
}
.adjective{
  padding: 25px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  width: 290px;
  height: 200px;
  margin-right: 20px;
  border-top: 4px solid #8321f3;
}
.misc{
  padding: 25px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  width: 290px;
  height: 200px;
  margin-right: 20px;
  border-top: 4px solid #f3218a;
}
.nounf{
  padding: 5px 10px 5px 10px;
  background-color: rgba(0, 0, 0, 0.116);
  border: 2px solid #2196f3;
  border-radius: 10px;
  margin: 7px;
}
.verbf{
  padding: 5px 10px 5px 10px;
  background-color: rgba(0, 0, 0, 0.116);
  border: 2px solid #21f3bf;
  border-radius: 10px;
  margin: 7px;
}
.adjectivef{
  padding: 5px 10px 5px 10px;
  background-color: rgba(0, 0, 0, 0.116);
  border: 2px solid #8321f3;
  border-radius: 10px;
  margin: 7px;
}
.miscf{
  padding: 5px 10px 5px 10px;
  background-color: rgba(0, 0, 0, 0.116);
  border: 2px solid #f3218a;
  border-radius: 10px;
  margin: 7px;
}
