<mat-card class="word-card">
  <div class="card-header">
    <div class="top">
      <h1 class="word-name">{{word ? word.word : ''}}</h1>
      <button data-test= "deleteWordButton" *ngIf="!viewing" mat-button (click)="deleteWord()" class="btn"><mat-icon>delete</mat-icon></button>
    </div>
    <mat-card-subtitle class="word-type">{{type === 'nouns' ? 'Noun' : type === 'verbs' ? 'Verb' :type === 'adjectives' ? 'Adjective' :type === 'misc' ? 'Misc' : type }}</mat-card-subtitle>
  </div>
  <mat-card-content>
    <div class="holder">
      <p class="forms">Forms: </p>
      <p color="primary" class="bubble" *ngFor="let form of word ? word.forms : []">{{form ? form : ''}}</p>
    </div>

  </mat-card-content>
</mat-card>
