<mat-card (mouseover)="hovering=true" (mouseout)="hovering=false" [ngClass]="type ? {'noun': type.includes('oun'), 'verb': type.includes('erb'),'adjective': type.includes('djective'),'misc': type.includes('isc') }: 'misc'">

  <div class="card-header word-card">
    <div class="top">
      <h1 class="word-name">{{word ? word.word : ''}}</h1>
      <div class="box" [ngClass]="{'visible': hovering, 'invisible': !hovering }">
        <button data-test="editWordButton" *ngIf="!viewing" mat-button (click)="deleteWord()" class="btn"
          id="editbutton">
          <mat-icon>create</mat-icon>
        </button>
        <button data-test="deleteWordButton" *ngIf="!viewing" mat-button (click)="deleteWord()" class="btn"
          id="delbutton">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-card-subtitle class="word-type">
      {{type === 'nouns' ? 'Noun' : type === 'verbs' ? 'Verb' :type === 'adjectives' ? 'Adjective' :type === 'misc' ? 'Misc' : type }}
    </mat-card-subtitle>
  </div>
  <mat-card-content>
    <div class="holder">
      <p class="forms">Forms: </p>
      <p color="primary" [ngClass]="{'nounf': type.includes('oun'), 'verbf': type.includes('erb'),'adjectivef': type.includes('djective'),'miscf': type.includes('isc') }" *ngFor="let form of word ? word.forms : []">{{form ? form : ''}}</p>
    </div>

  </mat-card-content>

</mat-card>
